**Glovo Orders Prediction**

Based on 4 weeks orders data per hours we need to predict how many orders are going to be raised in the following week at any hour.

** Loading data **

Data has been presented through an excel sheet containing 4 pages one for each week. 
In each page the number of orders per hour is represented.
The excel sheet has been transformed to csv and data will need to be loaded and manipulated before being modeled.

In [13]:
import pandas as pd
import numpy as np

# load 4 data files
df_w17 = pd.read_csv('data_forecast_w17.csv')
df_w18 = pd.read_csv('data_forecast_w18.csv')
df_w19 = pd.read_csv('data_forecast_w19.csv')
df_w20 = pd.read_csv('data_forecast_w20.csv')

# add week column to all dataframes
df_w17['WEEK']=17
df_w18['WEEK']=18
df_w19['WEEK']=19
df_w20['WEEK']=20

df_w20

    HOURS   MON   TUE   WED   THU   FRI   SAT   SUN  WEEK
0       0   111    99    90    96   165   162   189    20
1       1    72    93    54    93    99   150    87    20
2       2    30    30    42    36    45    60    99    20
3       3    36    15    27    21    21    42    63    20
4       4    36    18    12    30    27    45    36    20
5       5    12     3     6    18    30    21    75    20
6       6    12     6     3    15    30    24    72    20
7       7     9    18    18    12    18    21    33    20
8       8    51    36    48    39    72    36    57    20
9       9   120   138   114   129   150   105    60    20
10     10   147   198   177   171   183   111    57    20
11     11   156   138   216   159   249   162   117    20
12     12   315   267   327   366   375   357   348    20
13     13   552   519   558   507   636   735   759    20
14     14   498   495   513   537   624   849   981    20
15     15   345   393   297   333   354   510   657    20
16     16   219   267   255   225   324   402   414    20
17     17   240   225   219   201   273   306   417    20
18     18   219   189   174   237   249   270   375    20
19     19   384   285   432   375   447   369   552    20
20     20   711   819  1143  1041  1140   951  1431    20
21     21  1110  1083  1170  1356  1602  1452  1599    20
22     22   708   690   720   786  1038  1188   948    20
23     23   216   240   231   219   426   450   375    20

** Calculate average: **

A simple but effective approach is predicting the hour and day #orders by using the previous weeks average in the same hour.

** Validation: **

As a validation method, initially week 20 prediction will be emulated based on week 17, 18 and 19 data average.

In [15]:
# create empty dataframe for week 20 results
df_w20_bis=df_w20.copy()
df_w20_bis[:]=0
df_w20_bis['WEEK']=200
df_w20_bis['HOURS']=df_w20['HOURS']

# fill datafreame with average
week_columns=['MON','TUE','WED','THU','FRI','SAT','SUN']

# loop over days to calculate average
for day in week_columns:
    df_w20_bis[day]=(df_w17[day]+df_w18[day]+df_w19[day])/3
    
df_w20_bis

    HOURS    MON     TUE     WED     THU     FRI     SAT          SUN  WEEK
0       0  103.0    82.0   108.0    98.0   147.0   159.0   139.000000   200
1       1   68.0    48.0    59.0    81.0    59.0   103.0    69.000000   200
2       2   32.0    39.0    34.0    42.0    46.0    72.0    47.000000   200
3       3   17.0    25.0    20.0    24.0    18.0    56.0    40.000000   200
4       4    9.0    17.0    13.0    18.0    15.0    39.0    25.000000   200
5       5   11.0    22.0    10.0    19.0    19.0    48.0    27.000000   200
6       6   11.0    11.0    10.0    11.0    18.0    69.0    20.000000   200
7       7   18.0     8.0    14.0    15.0    18.0    28.0    21.000000   200
8       8   57.0    51.0    40.0    50.0    45.0    54.0    33.000000   200
9       9  116.0   116.0   127.0   157.0   144.0    94.0    75.000000   200
10     10  191.0   171.0   159.0   184.0   190.0   100.0    84.000000   200
11     11  189.0   170.0   181.0   202.0   208.0   152.0   116.000000   200
12     12  315.0   320.0   314.0   328.0   348.0   287.0   335.000000   200
13     13  525.0   469.0   554.0   584.0   616.0   723.0   815.000000   200
14     14  434.0   367.0   446.0   547.0   579.0   738.0   619.000000   200
15     15  302.0   239.0   270.0   307.0   394.0   468.0   501.000000   200
16     16  208.0   196.0   230.0   276.0   284.0   326.0   381.000000   200
17     17  212.0   197.0   203.0   216.0   231.0   270.0   339.000000   200
18     18  214.0   172.0   166.0   202.0   255.0   280.0   364.000000   200
19     19  315.0   321.0   367.0   312.0   378.0   410.0   613.000000   200
20     20  732.0   738.0   910.0   899.0   973.0  1012.0  1342.000000   200
21     21  908.0  1048.0  1109.0  1166.0  1284.0  1310.0  1449.666667   200
22     22  607.0   659.0   607.0   763.0   794.0   825.0   810.333333   200
23     23  221.0   263.0   211.0   256.0   318.0   355.0   374.666667   200

** Mean squared error: **

We calculate the mean squared error to get a validation amount.

In [33]:
import math

print("Monday RMSE: ",math.sqrt(((df_w20['MON'] - df_w20_bis['MON'])**2).mean()))
print("Tuesday RMSE: ",math.sqrt(((df_w20['TUE'] - df_w20_bis['TUE'])**2).mean()))
print("Wednesday RMSE: ",math.sqrt(((df_w20['WED'] - df_w20_bis['WED'])**2).mean()))
print("Thursday RMSE: ",math.sqrt(((df_w20['THU'] - df_w20_bis['THU'])**2).mean()))
print("Friday RMSE: ",math.sqrt(((df_w20['FRI'] - df_w20_bis['FRI'])**2).mean()))
print("Saturday RMSE: ",math.sqrt(((df_w20['SAT'] - df_w20_bis['SAT'])**2).mean()))
print("Sunday RMSE: ",math.sqrt(((df_w20['SUN'] - df_w20_bis['SUN'])**2).mean()))

Monday RMSE:  53.2955595398591
Tuesday RMSE:  53.04832702357351
Wednesday RMSE:  59.188258970846576
Thursday RMSE:  56.86863517499489
Friday RMSE:  95.29909058677667
Saturday RMSE:  90.99542113022318
Sunday RMSE:  98.26296917512269

Using only 3 weeks the mean squared error is still high but rasonable for such a simple approach and low data.

** Week 21 prediction results: **

Applying the same average solution to week 21 we get the following results.

In [34]:
# create empty dataframe for week 21 results
df_w21=df_w20.copy()
df_w21[:]=0
df_w21['WEEK']=21
df_w21['HOURS']=df_w20['HOURS']

# fill datafreame with average
week_columns=['MON','TUE','WED','THU','FRI','SAT','SUN']

# loop over days to calculate average
for day in week_columns:
    df_w21[day]=(df_w17[day]+df_w18[day]+df_w19[day]+df_w20[day])/4
    
df_w21

    HOURS     MON      TUE      WED      THU      FRI      SAT      SUN  WEEK
0       0  105.00    86.25   103.50    97.50   151.50   159.75   151.50    21
1       1   69.00    59.25    57.75    84.00    69.00   114.75    73.50    21
2       2   31.50    36.75    36.00    40.50    45.75    69.00    60.00    21
3       3   21.75    22.50    21.75    23.25    18.75    52.50    45.75    21
4       4   15.75    17.25    12.75    21.00    18.00    40.50    27.75    21
5       5   11.25    17.25     9.00    18.75    21.75    41.25    39.00    21
6       6   11.25     9.75     8.25    12.00    21.00    57.75    33.00    21
7       7   15.75    10.50    15.00    14.25    18.00    26.25    24.00    21
8       8   55.50    47.25    42.00    47.25    51.75    49.50    39.00    21
9       9  117.00   121.50   123.75   150.00   145.50    96.75    71.25    21
10     10  180.00   177.75   163.50   180.75   188.25   102.75    77.25    21
11     11  180.75   162.00   189.75   191.25   218.25   154.50   116.25    21
12     12  315.00   306.75   317.25   337.50   354.75   304.50   338.25    21
13     13  531.75   481.50   555.00   564.75   621.00   726.00   801.00    21
14     14  450.00   399.00   462.75   544.50   590.25   765.75   709.50    21
15     15  312.75   277.50   276.75   313.50   384.00   478.50   540.00    21
16     16  210.75   213.75   236.25   263.25   294.00   345.00   389.25    21
17     17  219.00   204.00   207.00   212.25   241.50   279.00   358.50    21
18     18  215.25   176.25   168.00   210.75   253.50   277.50   366.75    21
19     19  332.25   312.00   383.25   327.75   395.25   399.75   597.75    21
20     20  726.75   758.25   968.25   934.50  1014.75   996.75  1364.25    21
21     21  958.50  1056.75  1124.25  1213.50  1363.50  1345.50  1487.00    21
22     22  632.25   666.75   635.25   768.75   855.00   915.75   844.75    21
23     23  219.75   257.25   216.00   246.75   345.00   378.75   374.75    21